/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mmv {
    time-to-max-speed-ms = <200>;
    acceleration-exponent = <1>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESC>;
            key-positions = <28 31>;
            layers = <0 1>;
        };

        l_nav {
            bindings = <&mo 2>;
            key-positions = <13 14>;
            layers = <0 1>;
        };

        r_nav {
            bindings = <&mo 2>;
            key-positions = <21 22>;
            layers = <0 1>;
        };

        l_cmd {
            bindings = <&kp LEFT_GUI>;
            key-positions = <27 28>;
            layers = <0 1>;
        };

        r_gui {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <31 32>;
            layers = <0 1>;
        };

        l_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <26 27>;
            layers = <0 1>;
        };

        r_alt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <32 33>;
            layers = <0 1>;
        };

        l_ctl {
            bindings = <&kp LCTRL>;
            key-positions = <25 26>;
            layers = <0 1>;
        };

        r_ctl {
            bindings = <&kp RCTRL>;
            key-positions = <33 34>;
            layers = <0 1>;
        };

        to_two {
            bindings = <&to 1>;
            key-positions = <36 37 38 39>;
            layers = <0>;
        };

        to_one {
            bindings = <&to 0>;
            key-positions = <36 37 38 39>;
            layers = <1>;
        };
    };

    behaviors {
        tap_dance_cmd: tap_dance_cmd {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CMD";
            #binding-cells = <0>;
            bindings = <&kp LGUI>, <&mo 2>;

            tapping-term-ms = <175>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                               &kp N6     &kp N7   &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB         &kp Q   &kp W   &kp E   &kp R     &kp T                                &kp Y      &kp U    &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT  &kp A   &kp S   &kp D   &kp F     &kp G                                &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C   &kp V     &kp B     &kp LBKT    &kp RBKT       &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &none   &kp LALT  &kp LGUI  &kp RET     &kp BACKSPACE  &kp SPACE  &kp DEL  &none
            >;
        };

        layer_2 {
            display-name = "Base 2";
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                                &kp N6     &kp N7   &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB         &kp Q   &kp W   &kp E   &kp R     &kp T                                 &kp Y      &kp U    &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT  &kp A   &kp S   &kp D   &kp F     &kp G                                 &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C   &kp V     &kp B          &kp LBKT    &kp RBKT   &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &none   &kp LALT  &kp BACKSPACE  &kp LGUI    &kp ENTER  &kp SPACE  &kp DEL  &none
            >;
        };

        nav_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Nav";
            bindings = <
&kp F1  &kp F2  &kp F3    &kp F4     &kp F5     &kp F6                     &kp F7    &kp F8    &kp F9        &kp F10    &kp F11       &kp F12
&trans  &none   &none     &none      &none      &none                      &none     &none     &none         &none      &bt BT_SEL 0  &bt BT_SEL 1
&trans  &none   &kp HOME  &kp PG_UP  &kp PG_DN  &kp END                    &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &bt BT_SEL 2  &bt BT_SEL 3
&trans  &none   &none     &none      &none      &none    &none     &none   &none     &none     &none         &none      &bt BT_SEL 4  &bt BT_CLR
                          &none      &trans     &trans   &trans    &trans  &trans    &trans    &none
            >;
        };
    };
};
